/*estilo tabla categorias*/
.categorias {
    padding: 20px;
    margin-right: 150px;
    margin-left: 150px;
}

.tabcat {
    background-color: rgba(137, 43, 226, 0);
    border: none;
}

.catfoto {
    border-radius: 20px;
}